extends ../layout

block content  
  #derp(data-jamId=jam.id, hidden="true")
  .row
    .col-md-12
      h1=jam.title
      p
        =jam.desc

  .row
    .col-md-8
      textarea.form-control(rows=10, disabled=true)
        != jam.lyrics
      p
        =jam.spotifyId

  .row
    .col-md-8
      h2 Active tracks

      ul.list-group#active-tracks
        for track in jam.tracks
          li.list-group-item(data-sound=track.recordingId)
            = track.title
            a(href="#" data-id=track.id)
              span.glyphicon.glyphicon-remove.pull-right.make-it-red
            a(href="#" data-id=track.id)
              span.glyphicon.glyphicon-play.pull-right.hate-it.song-action


      button#play-jam.btn.btn-primary Play jam
      
    .col-md-4
      h2 Available Tracks

      ul#available-tracks.list-group
        for track in tracks
          li.list-group-item(data-sound=track.recordingId)
            =track.title
            a(href="#" data-id=track.id)
              span.glyphicon.glyphicon-plus.pull-right
      a.btn.btn-primary(href="/tracks/create") Add new track
  script(src='/show-jam.js')
